<div style="margin-top: 1em;">
    {%- for social in site.data.socials %}
    <a class="btn" style="font-size: 1.2em;" href="{{ social.url }}">
        {%- if social.boxicons-logo -%}
        <i style='vertical-align: middle;' class='bx {{ social.boxicons-logo }}'></i>&nbsp;
        {%- else -%}
        {{ social.platform }}
        {%- endif -%}
        {%- if social.username -%}
        {{ social.username }}
        {%- else -%}
        {%- if social.boxicons-logo -%}
        {{ social.platform }}
        {%- endif -%}
        {%- endif -%}
    </a>
    {%- endfor -%}
</div>

<div style="margin-top: 1em;">
    {% for button in site.data.buttons %}
    {%- if button.link -%}
    <a href="{{ button.link }}">
    {%- endif -%}
        <img style="width:88px; height:31px; border:0;" src="{{ button.image | relative_url }}" alt="{{ button.alt }}">
    {%- if button.link -%}
    </a>
    {%- endif %}
    {% endfor %}
</div>

<p style="font-size: 0.75em;">The design of this site was mostly copied from <a href="https://leggi.es/">leggi.es</a>, thanks to deneb for letting me do that!!! :3</p>
