<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <div id="content-wrapper">
            <a class="center" style="color: white; display: block; font-size: 2em; font-weight: bold; margin-block: 0.67em;" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            <div id="content">
                <header>
                    {%- include header.html -%}
                </header>

                <main>
                    {{ content }}
                </main>

                <footer class="center" style="margin-top: auto; border-top: 1px solid var(--primary-color);">
                    {%- include footer.html -%}
                </footer>
            </div>
        </div>
    </body>
</html>
