a:link {
    color: #1484F0;
}

a:visited {
    color: #1484F0;
}

.center {
    margin: auto;
    width: 80%;
    text-align: center;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: table;
}

#navbar {
    width: 200px;
    background-color: #f1f1f1;
    display: table-cell;
    vertical-align: top;
}

#content {
    display: table-cell;
    padding: 20px;
}

#header,
#footer {
    width: 100%;
    background-color: #f1f1f1; /* TODO: choose different color */ 
    padding: 10px;
}
