a:link {
    color: #1484F0;
}

a:visited {
    color: #1484F0;
}

ul {
    display: inline-block;
    padding-left: 0;
    text-align: left;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}
